*{
    margin: 0px;
    padding: 0px;
}
h2{
    color: red;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
  0% {  
      opacity: 0;
    }
  100% { 
      opacity: 1;
    }
}
.dropdown-menu{
    background-color: rgb(66, 66, 66);
}
.dropdown-item{
    color: aliceblue;
}
.carousel-indicators li{
    width: 30x;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
.carousel-control-prev-icon{
    background-color: red;
}
.carousel-control-next-icon{
    background-color: red;
}
.slide img {
    height: 400px;
    width: 100%;
}
.container-fluid{
    text-align: center;
    background-color: black;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}
.container-fluid1{
    background-color: black;
    height: auto;
    color: red;
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}
.mediosdepago{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}
.fa-facebook{
    color: red
}
.fa-whatsapp{
    color:red;
}
.fa-instagram{
    color: red;
}
.fa-youtube{
    color: red;
}
